

    h1{

        font-family: "Rubik 80s Fade", system-ui;
        
        

    }

    p{

        font-family: "Rubik 80s Fade", system-ui;

        font-family: 'Comic Sans MS', 'Arial', sans-serif;

        font-weight: 300;

        color: green;

        text-shadow: 2px 2px 5px orange;
         

    }